@mixin clipped-headline ($color1, $color2) {
  color: $color1;

  @supports(background-clip: text) {
    background: linear-gradient(to right, $color1, $color2 30%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin typo-body {
  font-family: $font-family;
  font-feature-settings: 'pnum' on, 'onum' on;
  font-size: 1.8rem;
  line-height: 1.66;
}

@mixin typo-intro {
  font-family: $font-family;
  font-size: 2rem;
  line-height: 2;
}

@mixin typo-title {
  font-family: $font-family;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;

  @include mq($from: tablet) {
    font-size: 6rem;
  }

  @include mq($from: desktop) {
    font-size: 7.2rem;
  }
}

@mixin typo-h2 {
  font-family: $font-family;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 4.8rem;
  }
}

@mixin typo-h3 {
  font-family: $font-family;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;

  @include mq($from: tablet) {
    font-size: 2.2rem;
    line-height: 1.4;
  }

  @include mq($from: desktop) {
    font-size: 2.4rem;
    line-height: 1.6;
  }
}

@mixin typo-footnotes {
  font-family: $font-family;
  font-size: 1.3rem;
  line-height: 1.7;
}

@mixin typo-quote {
  font-family: $font-family-serif;
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.1;

  @include mq($from: tablet) {
    font-size: 4.8rem;
  }
}

@mixin title-icons {
  font-family: $font-family;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;

  @include mq($from: tablet) {
    font-size: 3rem;
  }
}

@mixin block-content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns:
    [full-start] minmax(0.75rem, 1fr)
    [main-start] minmax(0, 82.4rem)
    [main-end] minmax(0.75rem, 1fr)
    [full-end];
}
