$font-family: 'IBM Plex Sans';
$font-family-serif: 'IBM Plex Serif';

$color-red-superlight: #C50000;
$color-red-light: #B11414;
$color-red-dark: #980000;
$color-charcoal: #2B2B2B;
$color-dark-stone: #535353;
$color-paper: #FDFCFC;
$color-negative: #949494;
$color-transparent: #F2F2F2;

$mq-breakpoints: (
    mobile:  500px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
