$font-family: 'IBM Plex Sans';

$color-red-light: #B11414;
$color-red-dark: #980000;
$color-charcoal: #2B2B2B;
$color-dark-stone: #535353;
$color-paper: #FDFCFC;
$color-negative: #949494;
$color-transparent: #F2F2F2;
