*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-paper;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
}
