.block-content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(10, 1fr);

  > * {
    grid-column: span 10;
  }

  > *:not(.wp-block-image):not(.vita) {
    grid-column: 3 / span 6;
  }

  > p {
    @include typo-body;

    color: $color-charcoal;
  }

  > h2 {
    @include typo-h2;
    @include clipped-headline($color-red-dark, $color-red-light);

    color: $color-red-dark;
    margin-bottom: 2rem;
    margin-top: 9rem;
  }
}
