.block-content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 82.4rem)
    [main-end] minmax(1rem, 1fr)
    [full-end];
  min-height: 80vh;

  > * {
    grid-column: main;
  }

  > .wp-block-gallery, > .wp-block-image, > .wp-block-vita, > .video, > .hr {
    grid-column: full;
  }

  > p {
    @include typo-body;

    color: $color-charcoal;
  }

  > h2 {
    @include typo-h2;
    @include clipped-headline($color-red-dark, $color-red-superlight);

    margin-bottom: 0;
    margin-top: 6rem;

    @include mq($until: tablet) {
      hyphens: auto;
    }

    @include mq($from: tablet) {
      margin-bottom: 2rem;
      margin-top: 7rem;
    }
  }

  > .cards {
    @include mq($from: tablet) {
      margin-left: -5rem;
      margin-right: -5rem;
      max-width: none;
    }
  }
}
