.block-content {
  @include block-content;

  min-height: 80vh;

  > * {
    grid-column: main;
  }

  > .wp-block-gallery, > .wp-block-image, > .wp-block-vita, > .video, > .hr {
    grid-column: full;
  }

  > *:first-child:not(p):not(.wp-block-embed-vimeo):not(.intro) {
    margin-top: -3.5rem;
  }

  > p {
    @include typo-body;

    color: $color-charcoal;

    a:hover,
    a:focus {
      color: $color-red-dark;
    }
  }

  > h2 {
    @include typo-h2;
    @include clipped-headline($color-red-dark, $color-red-superlight);

    margin-bottom: 0;
    margin-top: 3.5rem;

    @include mq($until: tablet) {
      hyphens: auto;
    }

    @include mq($from: tablet) {
      margin-bottom: 2rem;
      margin-top: 7rem;
    }
  }

  > .cards {
    @include mq($from: desktop) {
      margin-left: -5rem;
      margin-right: -5rem;
      max-width: none;
    }
  }
}
