.cards {
  max-width: 100%;

  &__title {
    @include typo-h3;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  }

  &__item {
    flex: 0 0 50%;
    max-width: 100%;
  }
}
