.card {
  align-items: space-around;
  background-color: $color-red-superlight;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-red-dark;
  }

  &__image {
    height: auto;
    mix-blend-mode: multiply;
    object-fit: contain;
    width: 100%;
  }

  &__content {
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include mq($from: tablet) {
      padding: 1.5rem;
    }
  }

  .cards--biography &__content {
    bottom: 0;
    top: auto;
    transform: translateX(-50%);
  }

  &__title {
    @include title-icons;

    margin-bottom: 0;
    margin-top: 0;
  }

  &__description {
    @include typo-footnotes;

    margin-bottom: 0;
  }
}
