.footer {
  align-items: center;
  background-color: $color-red-light;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  position: relative;
  z-index: 2;

  @include mq($from: tablet) {
    margin-top: 8rem;
  }

  &__sm-container {
    display: flex;
    justify-self: flex-end;
    margin-right: 1.5rem;

    a {
      font-size: 0;
      line-height: 1;
    }
  }

  &__sm-link {
    display: block;

    > svg {
      height: 2rem;
      max-height: 100%;
      width: 2rem;
    }

    & + & {
      margin-left: 1rem;
    }
  }

  .menu {
    display: flex;
    flex: 1;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-left: 0;

    > * + * {
      border-left: 2px solid #750000;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
    }
  }

  .menu a {
    @include typo-body();

    display: block;
    font-weight: 700;
    line-height: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
