.header-menu-container {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  padding-left: 2rem;
  padding-top: 2rem;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;

  &__home-link {
    border-left: 2px solid currentColor;
    font-family: $font-family;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 1rem;
    padding-left: 1rem;
    position: relative;
    top: 0.15rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    @include mq($from: tablet) {
      font-size: 2rem;
    }
  }
}
