.hero {
  align-items: center;
  background-color: $color-red-light;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50rem;
  justify-content: center;
  position: relative;
  width: 100%;

  @include mq($from: tablet) {
    height: 42rem;
  }

  &__language-switch-container {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 11;
  }

  &__image-container {
    height: 100%;
    left: 50%;
    mix-blend-mode: multiply;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;
  }

  &__image {
    height: 100%;
    min-width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 2rem;
    position: relative;
    z-index: 2;
  }

  &__title {
    @include typo-title;

    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }

  &__excerpt {
    @include typo-body;

    font-weight: 700;
    text-align: center;
  }
}
