.language {
  @include typo-footnotes;

  background-color: rgba($color-dark-stone, .8);
  border-radius: 0.1rem;
  color: white;
  line-height: 1;
  padding: 0.65rem 0.75rem 0.4rem 0.75rem;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: darken( $color-dark-stone, 10% );
  }
}
