.header-menu {
  &__bars,
  &__close {
    flex: 0 0 1.5rem;
    height: 1.75rem;

    @include mq($from: tablet) {
      flex-basis: 1.75rem;
      height: 1.85rem;
    }
  }

  &__bars {
    @include mq($from: tablet) {
      margin-right: 0.5rem;
    }
  }

  &[open] &__bars {
    display: none;
  }

  &__close {
    display: none;
  }

  &[open] &__close {
    display: inline-block;
  }

  &__toggle {
    cursor: pointer;
    font-size: 0;
    line-height: 1;
    list-style: none;
    outline: none;
    position: relative;
    user-select: none;
    width: 6.5rem;
    z-index: 11;

    @include mq($from: tablet) {
      width: 8rem;
    }

    ::-webkit-details-marker,
    ::marker {
      display: none;
    }

    &:hover &-label,
    &:focus &-label {
      text-decoration: underline;
    }

    // Safari workaround 9.3.a https://github.com/philipwalton/flexbugs
    > div {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__toggle-label {
    font-family: $font-family;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 0.5rem;
    position: relative;

    @include mq($from: tablet) {
      font-size: 2rem;
    }
  }

  &[open] &__toggle-label {
    color: #828282;
  }

  &__inner {
    animation-direction: reverse;
    background-color: rgba(255, 255, 255, 0.95);
    color: $color-charcoal;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    overflow: auto;
    padding: 4rem 2rem;
    position: fixed;
    top: 0;
    transition: opacity 100ms ease-in, transform 70ms ease-in;
    transform: translateY(-100%);
    width: 100%;
    will-change: opacity transform;
  }

  &[open] &__inner {
    opacity: 1;
    transform: none;
  }
}
