.header-menu {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  &__bars,
  &__close {
    height: 2rem;
    vertical-align: middle;
    width: 2rem;
  }

  &[open] &__bars {
    display: none;
  }

  &__close {
    display: none;
  }

  &[open] &__close {
    display: inline-block;
  }

  &__toggle {
    cursor: pointer;
    font-size: 0;
    line-height: 1;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    user-select: none;
    z-index: 11;
  }

  &__toggle-label {
    @include typo-h3;

    line-height: 1;
    vertical-align: middle;
  }

  &[open] &__toggle-label {
    display: none;
  }

  &__inner {
    animation-direction: reverse;
    background-color: rgba(255, 255, 255, 0.8);
    color: $color-charcoal;
    display: flex;
    flex-direction: column;
    left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 100vh;
    opacity: 0;
    padding: 2rem;
    position: absolute;
    top: 0;
    transition: all 200ms ease-in-out;
    transform: translateY(-100%);
    width: 100%;
    will-change: opacity;
  }

  &[open] &__inner {
    opacity: 1;
    transform: none;
  }
}
