.video {
  background-color: $color-charcoal;
  color: $color-negative;
  display: grid;
  grid-template-columns: subgrid;
  padding-top: 10rem;
  text-decoration: none;

  &__inner-container {
    display: flex;
    grid-column-start: full-start;
    grid-column-end: main-end;
  }

  &__image {
    flex: 1 0 auto;
    height: auto;
    object-fit: contain;
    width: 60%;
  }

  &__content {
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 2rem;
  }

  &__play-container {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
  }

  &__play {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    height: 5rem;
    width: 7rem;
  }

  &__length {
    color: $color-red-light;
    font-family: $font-family;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-left: 2rem;
  }

  &__title {
    @include typo-body;

    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__description {
    @include typo-footnotes;

    margin-bottom: 0;
    margin-top: 0;
  }
}
