.wp-block-vita {
  @include block-content;

  background-color: $color-transparent;
  padding-bottom: 2rem;
  padding-top: 1rem;

  @include mq($from: tablet) {
    padding-top: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column-start: main-start;
    grid-column-end: full-end;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    overflow-x: scroll;
    padding-left: 0;
    scroll-snap-type: x mandatory;

    @supports(scroll-snap-type: x mandatory) {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        background: transparent;
        width: 0;
      }
    }
  }

  &__item {
    align-items: flex-end;
    display: flex;
    min-width: 25rem;
    scroll-snap-align: start;

    &:not(:first-child) {
      padding-left: 2rem;
    }
  }

  &__item-description {
    @include typo-footnotes;

    margin-bottom: 2rem;
    margin-top: 0;
    transform: rotate(-2deg);

    @include mq($from: tablet) {
      @include typo-body;
    }
  }

  &__item-container {
    border-bottom: 0.2rem solid $color-red-light;
    width: 100%;
  }

  &__item-year {
    display: block;
    font-family: $font-family;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
