.wp-block-gallery {
  background-color: $color-charcoal;
  color: $color-negative;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  overflow-y: hidden;
  padding-left: 0;
  scroll-snap-type: x mandatory;
  width: 100%;

  li {
    display: flex;
    flex: 0 0 auto;
    padding: 4rem 2rem;
    scroll-snap-align: start;
    max-width: 80%;
  }

  figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 100%;
    margin: 0;
    max-width: 100%;
  }

  img {
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    object-position: center center;
    width: 100%
  }

  figcaption {
    @include typo-footnotes;

    margin-top: 5rem;
    text-align: center;
  }
}
