.wp-block-map {
  grid-column-start: full-start;
  grid-column-end: full-end;

  svg {
    tspan,
    text {
      font-family: $font-family;
      font-size: 8rem;
      font-weight: 500;
    }
  }
}
