.wp-block-gallery {
  background-color: $color-charcoal;
  color: $color-negative;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  overflow: hidden;
  padding: 3.5rem 0;
  width: 100%;
  z-index: 1;

  .blocks-gallery-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0;
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;
    transition-property: transform;
    transition-timing-function: ease-out;
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
      height: 0;
      width: 0;
    }
  }

  .blocks-gallery-item {
    display: inline-block;
    max-width: 85%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    scroll-snap-align: start;
    transition-property: transform;
    transition-timing-function: ease-out;
    vertical-align: top;
    width: auto;
  }

  ul figure {
    display: table;
    margin: 0;
  }

  img {
    height: 35vh;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;

    @include mq($from: tablet) {
      height: 80vh;
      margin-bottom: 2.5rem;
    }
  }

  ul figcaption {
    @include typo-footnotes;

    caption-side: bottom;
    display: table-caption;
    white-space: break-spaces;
  }

  > figcaption {
    @include typo-footnotes;

    margin-bottom: -3.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
  }

  .video + &,
  .wp-block-gallery + &,
  .wp-block-image + & {
    border-top: 1px dashed $color-negative;
    margin-top: -2rem;
  }
}
