.wp-block-more {
  list-style: none;
  padding-left: 0;

  > * + * {
    margin-top: 1rem;

    @include mq($from: tablet) {
      margin-top: 2.5rem;
    }
  }

  &__item {
    align-items: flex-start;
    display: flex;
    text-decoration: none;

    @include mq($from: tablet) {
      max-width: 75%;
    }
  }

  &__item:hover &__item-title,
  &__item:focus &__item-title {
    color: $color-red-dark;
    text-decoration: underline;
  }

  &__item > svg {
    flex: 0 0 3rem;
    height: auto;
    max-height: 100%;
    transform: translateY(-25%);

    @include mq($from: tablet) {
      flex-basis: 4rem;
    }
  }

  &__item-content-container {
    margin-left: 1rem;

    @include mq($from: desktop) {
      margin-left: 1.5rem;
    }
  }

  &__item-title {
    @include typo-body;

    flex: 0 1 auto;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__item-description {
    @include typo-footnotes;

    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}
