.wp-block-image {
  @include block-content;

  align-items: center;
  background-color: $color-charcoal;
  color: $color-negative;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;

  > img {
    grid-column: full;
    height: auto;
    max-height: 95vh;
    object-fit: contain;
    width: 100%;
  }

  > figcaption {
    @include typo-footnotes;

    grid-column: main;
  }
}
